# build folder
build/
__pycache__/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp files
*~
*.bak

# VIM
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
tags

# Emacs
\#*\#
.\#*
auto-save-list
/auto/
dist/
flycheck_*.el
.projectile
.dir-locals.el

*.sublime-workspace

*.vscode
.vscode/
feeding/.vscode/

# Debug/scratch tree
trees/debug.xml

# Perception: images and models
*.pth
ada_feeding_perception/test/food_img/
ada_feeding_perception/test/output/
ada_feeding_action_select/data
