pyrealsense2
overrides
sounddevice
scikit-spatial
openai
python-dotenv
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/yformer/EfficientSAM.git
git+https://github.com/IDEA-Research/GroundingDINO.git
