<launch>
	<!-- Other options: retinanet, spnet, spanet -->
  <!-- See possible networks in https://github.com/personalrobotics/food_detector/ -->
  <arg name="detector" default="spanet" doc="Which network to use for food perception."/>
  <arg name="sim" default="false" doc="Whether to run in Aikido-sim only" />

  <!-- Simulated pose estimators -->
  <group if="$(arg sim)">
    <node pkg="ada_feeding"
          name="food_detector"
          type="run_sim_food_detector.py" />

    <node pkg="ada_feeding"
          name="face_detector"
          type="run_sim_face_detector.py" />
  </group>

  <!-- Real Perception -->
  <group unless="$(arg sim)">
    <node pkg="food_detector" type="run_perception_module.py" name="food_detector"
          args="--demo-type $(arg detector)" output="screen" required="true"/>

    <node pkg="face_detection" type="face_detection" name="face_detection"
          required="true"/>
  </group>
</launch>